server 0.europe.pool.ntp.org
server 1.europe.pool.ntp.org
server 2.europe.pool.ntp.org
server 3.europe.pool.ntp.org

driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
allow 10.10.10.0/24
keyfile /etc/chrony/chrony.keys

logdir /var/log/chrony
log measurements statistics tracking
