deb http://ftp.bme.hu/debian/ bullseye main non-free
deb-src http://ftp.bme.hu/debian/ bullseye main non-free

deb http://security.debian.org/debian-security bullseye-security main non-free
deb-src http://security.debian.org/debian-security bullseye-security main non-free

deb http://ftp.bme.hu/debian/ bullseye-updates main non-free
deb-src http://ftp.bme.hu/debian/ bullseye-updates main non-free
